/* RESETEO DE ESTILOS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* NAVEGACION */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 10px 0px;
}

.nav-brand {
  width: 80px;
}

/* NAVEGACION MENU */
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a:hover {
  border-bottom: 4px solid rgb(8, 0, 0);
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 10px;
}

.nav-main .nav-menu a {
  color: black;
}

.nav-main .nav-menu-right a i {
  color: black;
  margin-right: 40px;
}

hr {
  height: 5px;
  background-color: black;
  margin: 10px 0;
}

.menu-btn {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 30px;
  z-index: 2;
  font-size: 1.8rem;
  display: none;
}

/* SHOWCASE */
.showcase {
  width: 100%;
  height: 500px;
  background: url("./img/fondo1.png") no-repeat center center/cover;
  padding: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: #262626 solid;
  border-radius: 25px;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
  color: white;
}

.showcase h2 {
  font-size: 70px;
  font-family: Magneto;
}

.showcase p {
  font-size: 19px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: white;
  border: 2px solid #ffff;
  margin: 10px 0;
}

/* BOTON CON PSEUDOCLASE HOVER */
.btn:hover {
  opacity: 0.7;
}

/* NEW CARDS ONE - TWO */
.new-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin-bottom: 10px;
}

.new-cards img {
  width: 100%;
  height: 180px;
  border-radius: 25px;
}

.new-cards h3 {
  font-size: 20px;
  margin: 10px 0;
}

.new-cards a {
  padding: 10px 0;
  color: black;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

.new-cards a:hover {
  text-decoration: underline;
}

/* BANNER */
.cards-banner {
  width: 100%;
  height: 300px;
  background: url("./img/card005.jpg") no-repeat center center/cover;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 25px;
}

.cards-banner .content {
  width: 45%;
  padding: 0 30px 0 0;
  text-align: right;
}

.cards-banner p,
.cards-banner h2 {
  margin: 0px 0 20px 0;
  color: black;
}

.cards-banner p {
  font-size: 17px;
}

/* SOCIAL */
.social {
  margin: 50px;
}

.social p {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 2.5rem;
  color: black;
}

/* FOOTER COPYRIGHT*/
.footer {
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    height: 100%;
    padding: 30px;
    opacity: 0.9;
    transform: translatex(-400px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    font-size: 18px;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main .nav-menu a {
    color: white;
  }

  .new-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .new-cards{
    grid-template-columns: 1fr;
  }

  .new-cards img {
    height: 270px;
  }

  .cards-banner .content {
    width: 100%;
  }
}